@if(chartOption){
<div style="text-align: center">
  <button
    class="custom-btn btn-3"
    [ngClass]="{ selected: selectedSymbol === 'AAPL' }"
    (click)="onSymbolChange('AAPL')"
  >
    <span>Apple</span>
  </button>
  <button
    class="custom-btn btn-3"
    [ngClass]="{ selected: selectedSymbol === 'NKE' }"
    (click)="onSymbolChange('NKE')"
  >
    <span>Nike</span>
  </button>

  <button
    class="custom-btn btn-3"
    [ngClass]="{ selected: selectedSymbol === 'SBUX' }"
    (click)="onSymbolChange('SBUX')"
  >
    <span>Starbucks</span>
  </button>
</div>
<div echarts [options]="chartOption" class="echart"></div>
}
